.landItem {
  text-transform: capitalize;
}

.display {
  background: #bbb;
}

.controls {
  width: 280px;
  height: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.cards img {
  margin: 5px;
}
