ul {
  list-style: none;
  padding: 0;
}

li {
  text-transform: capitalize;
  display: flex;
  padding: 2px 20px;
}

li.checked {
  background: #444;
}

label {
  margin-left: 4px;
}

h3 {
  background: #505050;
  padding: 10px;
  margin: 0;
}

h4 {
  margin: 10px 0;
  padding: 0 10px;
}

.side {
  flex: 0 220px;
  background: #2e497b;
  color: #ddd;
  font-family: sans-serif;
}

.display {
  display: flex;
}

.display > *:not(:last-child) {
  margin-bottom: 10px;
}

.cards {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.cards img {
  margin: 5px;
}
